.hidden-mobile {
  display: none;
}

@media (min-width: $tablet) {
  .hidden-tablet {
    display: none;
  }

  .visible-tablet-inline {
    display: inline-block;
  }
}

@media (min-width: $desktop) {
  .hidden-desktop {
    display: none;
  }
}
