* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: #fff;
}

body {
  font-family: $pt-sans;
  font-size: 14px;
  line-height: 21px;
}

a {
  text-decoration: none;
}
