* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #fff;
}

body {
  font-family: $pt-sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
