.advantage {
  text-transform: uppercase;
  text-align: center;
  color: $text-color-dark;

  &__title {
    @include title-font();
    color: #000;
  }

  &--blue {
    text-align: center;
    color: $text-color-light;
    background-color: #81b3d2;
  }
}
