.advantages {
  background-color: #eee;
}

.advantages__list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.advantages__item {
  list-style-type: none;

  @media (min-width: $tablet) {
    width: percentage(1 / 3);
  }
}
