.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  padding: 15px;
  font-weight: $bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: $text-color-light;
  background-color: #81b3d2;
}
