.checkbox__label {
  @include title-font();
  text-transform: none;
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 16px;
    margin-right: 22px;
    vertical-align: middle;
    border: 20px solid #f2f2f2;
    border-right-width: 16px;
    border-left-width: 16px;
    border-radius: 5px;
    background-color: #f2f2f2;
  }

  &:hover::before {
    border-color: #e5e5e5;
    background-color: #e5e5e5;
  }

  &:active::before {
    border-color: #d5d5d5;
    background-color: #d5d5d5;
  }
}

.checkbox__input {
  display: none;

  &:checked + .checkbox__label::before {
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='23.049px' height='16.249px' viewBox='0 0 23.049 16.249' enable-background='new 0 0 23.049 16.249' xml:space='preserve'%3E %3Cpath d='M22.801,1.299L21.75,0.248c-0.331-0.331-0.872-0.331-1.203,0L8.693,12.102L2.502,5.911c-0.331-0.331-0.872-0.331-1.203,0 L0.248,6.962c-0.331,0.331-0.331,0.872,0,1.202l7.837,7.837c0.167,0.167,0.388,0.248,0.608,0.246c0.22,0.002,0.44-0.079,0.608-0.246 l13.5-13.5C23.132,2.171,23.132,1.63,22.801,1.299z' fill='%23333333' /%3E %3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &:checked:active + .checkbox__label::before {
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='23.049px' height='16.249px' viewBox='0 0 23.049 16.249' enable-background='new 0 0 23.049 16.249' xml:space='preserve'%3E %3Cpath d='M22.801,1.299L21.75,0.248c-0.331-0.331-0.872-0.331-1.203,0L8.693,12.102L2.502,5.911c-0.331-0.331-0.872-0.331-1.203,0 L0.248,6.962c-0.331,0.331-0.331,0.872,0,1.202l7.837,7.837c0.167,0.167,0.388,0.248,0.608,0.246c0.22,0.002,0.44-0.079,0.608-0.246 l13.5-13.5C23.132,2.171,23.132,1.63,22.801,1.299z' fill='%23a4a4a4' /%3E %3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
  }
}
