.fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 66px;
  padding-bottom: 27px;
  border: none;

  @media (min-width: $tablet) {
    padding-top: 79px;
    padding-bottom: 0;
  }
}

.fieldset__legend {
  position: absolute;
  top: 18px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  @include title-font();
  text-align: center;

  @media (min-width: $tablet) {
    top: -3px;
    left: 0;
    text-align: left;
    @include title-font(21px);
  }

  @media (min-width: $desktop) {
    &--radio {
      padding-left: 78px;
    }
  }
}

.fieldset__row {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &--radio {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  @media (min-width: $tablet) {
    &--radio {
      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }
  }
}
