.fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 66px;
  padding-bottom: 27px;
  border: none;

  @media (min-width: $tablet) {
    padding-top: 79px;
    padding-bottom: 0;

    &--contacts {
      padding-top: 36px;
    }
  }

  &--contacts {
    padding-bottom: 0;

    @media (min-width: $desktop) {
      padding-top: 66px;
    }
  }

  &--attractions {
    padding-top: 50px;

    .fieldset__legend--decorative {
      top: -25px;
    }
  }
}

.fieldset__legend {
  position: absolute;
  top: 18px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  @include title-font();
  text-align: center;

  @media (min-width: $tablet) {
    top: -3px;
    left: 0;
    text-align: left;
    @include title-font(21px);

    &--decorative {
      top: -13px;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      padding-left: 60px;
      padding-right: 60px;
      text-align: center;
      white-space: nowrap;
      background-color: #fff;
    }
  }

  @media (min-width: $desktop) {
    &--radio {
      padding-left: 78px;
    }
  }
}

.fieldset__content {
  display: flex;
  flex-direction: column;

  &--contacts {
    .fieldset__row:not(:last-child) {
      margin-bottom: 10px;
    }

    @media (min-width: $tablet) {
      .fieldset__row:not(:last-child) {
        margin-bottom: 22px;
      }
    }

    @media (min-width: $desktop) {
      flex-direction: row;
      justify-content: space-between;

      .fieldset__row:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &--attractions {
    padding-top: 22px;

    .fieldset__group, .fieldset__row:not(:last-child) {
      margin-bottom: 24px;
    }

    @media (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      .fieldset__group {
        margin-bottom: 0;
      }
    }
  }
}

.fieldset__row {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &--radio {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  @media (min-width: $tablet) {
    &--radio {
      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }
  }
}

.fieldset__group {
  display: flex;
  flex-direction: column;
}
