.form {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__row {
  border-top: 1px solid #e5e5e5;
  background-color: #fff;

  @media (min-width: $tablet) {
    border-top: none;

    &--tablet-half {
      width: 50%;
    }
    &--tablet-order-1 {
      order: -1;
      border-right: 1px solid #e5e5e5;
    }

    &--tablet-wide {
      width: 100%;
    }
  }
}

.form__note {
  display: none;
}
