.form {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  background-color: #fff;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.form__row {
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #e5e5e5;

  @media (min-width: $tablet) {
    padding-left: 0;
    padding-right: 0;
    border-top: none;

    &--tablet-half {
      width: 50%;
    }

    &--tablet-order-1 {
      order: -1;
      border-right: 1px solid #e5e5e5;
    }

    &--tablet-wide {
      width: 100%;
      margin-top: 82px;
      border-top: 1px solid #e5e5e5;
    }

    &--full-name {
      padding-left: 58px;
    }
  }

  @media (min-width: $desktop) {
    &--full-name {
      padding-left: 78px;
    }
  }
}

.form__note {
  display: none;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: $text-color-dark;

  @media (min-width: $tablet) {
    display: block;
  }
}

.form__footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;

    .btn {
      width: 50%;
    }
  }
}
