.form {
  form {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.form__fieldset {
  @media (min-width: $tablet) {
    &:nth-child(1) {
      width: 50%;
    }
    &:nth-child(3) {
      width: 50%;
      order: -1;
    }

    &:nth-child(2), &:nth-child(4), &:nth-child(5) {
      width: 100%;
    }
  }
}

.form__note {
  display: none;
}
