.icon-input__label {
  display: inline-block;
  margin-left: 24px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: $text-color-dark;
}

.icon-input__icon {
  background-color: #e6e6e6;
}

.icon-input__error {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: -8px;
  margin-left: 24px;
  font-size: 14px;
  line-height: 26px;
  color: $text-color-danger;
}
