.icon-input {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;

    .input-group {
      width: 100%;
    }
  }
}

.icon-input__label {
  display: inline-block;
  margin-left: 24px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: $text-color-dark;

  @media (min-width: $tablet) {
    order: -2;
  }
}

.icon-input__icon {
  background-color: #e6e6e6;
}

.icon-input__error {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: -8px;
  margin-left: 24px;
  font-size: 14px;
  line-height: 26px;
  color: $text-color-danger;

  @media (min-width: $tablet) {
    order: -1;
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: right;
  }
}
