.icon-input {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0;

    .input-group {
      width: 100%;
    }
  }

  @media (min-width: $desktop) {
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 30px;

    .input-group {
      width: 316px;
    }
  }
}

.icon-input__label {
  display: inline-block;
  margin-left: 24px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: $text-color-dark;

  @media (min-width: $tablet) {
    order: -1;
  }

  @media (min-width: $desktop) {
    margin: 0;
    margin-right: 17px;
    white-space: nowrap;
  }
}

.icon-input__icon {
  background-color: #e6e6e6;
}

.icon-input__error {
  position: absolute;
  display: inline-block;
  left: 24px;
  bottom: 0;
  font-size: 14px;
  line-height: 26px;
  color: $text-color-danger;

  @media (min-width: $tablet) {
    top: 0;
    right: 0;
    bottom: initial;
    margin-bottom: 8px;
    text-align: right;
  }

  @media (min-width: $desktop) {
    left: 105px;
    right: initial;
    margin-bottom: 10px;
  }
}
