.icon-input {

  &__label {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: $text-color-dark;
  }

  &__icon {
    background-color: #e6e6e6;
  }

  &__error {
    font-size: 14px;
    line-height: 26px;
    color: $text-color-danger;
  }
}
