.input {
  padding: 12px 20px;
  border: 4px solid transparent;
  outline: none;
  width: 100%;
  @include title-font();
  text-transform: none;
  background-color: #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    border-color: #e5e5e5;
    background-color: #fff;
  }
}
