.label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label__text {
  margin-right: 14px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: $text-color-dark;
}
