.main-menu {
  &--closed {
    display: none;
  }

  &--nojs {
    display: block;
  }
}

.main-menu__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
  }
}

.main-menu__item {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 8px;
  background-color: $brand-color;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    .main-menu__link {
      color: #88b6d1;
    }
  }

  &--separator {
    display: none;
  }

  &:first-child {
    border-bottom: 1px solid #678fa8;
  }

  &:not(:first-child) {
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8;
  }

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: $tablet) {
    flex-basis: 200px;
    background-color: #fff;

    &--separator {
      display: block;
    }
  }
}

.main-menu__link {
  display: inline-block;
  width: 100%;
  font-weight: $bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: $text-color-light;

  @media (min-width: $tablet) {
    font-size: 14px;
    text-transform: 26px;
    color: #000;
  }
}
