.main-menu {

  &__item {
    padding: 20px;
    background-color: #81b3d2;
  }

  &__link {
    font-weight: $bold;
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: $text-color-light;
  }
}
