.main-menu__list {
  display: flex;
  flex-direction: column;
}
.main-menu__item {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  background-color: $brand-color;
}

.main-menu__link {
  display: inline-block;
  width: 100%;
  font-weight: $bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: $text-color-light;
}
