.main-menu {

  &__link {
    font-family: $ptSansBold;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #81b3d2;
  }
}
