.page-footer {
  outline: dashed 3px magenta;

  &__title {
    font-family: $pt-sans-bold;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    color: $text-color-light;
  }
}
