.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 35px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #fff;

  .socials {
    margin-bottom: 35px;

    .icon {
      fill: #fff;
    }
  }

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 35px;

    .socials {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop) {
    padding-left: 130px;
    padding-right: 44px;
  }
}

.page-footer__title {
  margin-bottom: 35px;
  font-weight: $bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}
