.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.page-header__logo {
  position: absolute;
  bottom: -33px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  @media (min-width: $tablet){
    bottom: 0;
  }
}

.page-header__toggle {
  margin-left: auto;

  .icon-menu {
    fill: #81b3d2;
  }

  @media (min-width: $tablet){
    display: none;
  }
}

.page-header__close-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  padding-right: 20px;
  display: inline-block;

  .icon-close {
    fill: #fff;
  }

  &--nojs {
    display: none;
  }

  &--hidden {
    display: none;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.page-header__mobile-menu {
  display: flex;
  align-items: center;
  height: 56px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px -5px 15px 0px rgba(0, 1, 1, 0.2);
  background-color: #fff;
}
