.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 55px;
  background-color: #fff;

  .socials {
    margin-bottom: 35px;

    .icon {
      fill: #fff;
    }
  }

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.page-footer__title {
  margin-bottom: 35px;
  font-weight: $bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}
