.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.page-footer__title {
  font-weight: $bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}
