.photos__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.photos__item {
  list-style-type: none;

  @media (min-width: $tablet) {
    &:first-child {
      width: 100%;
      background-color: blueviolet;
    }

    &:not(:first-child) {
      width: 50%;
    }
  }

  @media (min-width: $desktop) {
    &:not(:first-child) {
      width: percentage(1 / 3);
    }
  }
}
