.photo {

  &__title {
    font-weight: $bold;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__author {
    font-size: 14px;
    line-height: 24px;
    color: $text-color-dark;
  }
}
