.radio__label {
  @include title-font();
  text-transform: none;
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 22px;
    vertical-align: middle;
    border: 17px solid #f2f2f2;
    border-radius: 50%;
    background-color: #f2f2f2;
  }

  &:hover::before {
    border-color: #e5e5e5;
    background-color: #e5e5e5;

  }

  &:active::before {
    border-color: #d5d5d5;
    background-color: #d5d5d5;

  }
}

.radio__input {
  display: none;

  &:checked + .radio__label::before {
    background-color: $text-color-dark;
  }

  &:checked:active + .radio__label::before {
    background-color: #a4a4a4;
  }
}
