.service {
  padding: 20px;
}

.service__title {
  @include title-font();

  @media (min-width: $tablet) {
    @include title-font(21px);
  }
}

.service__text {
  font-size: 14px;
  line-height: 21px;
  color: #333;
  text-transform: uppercase;
}
