.text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 250px;
  padding: 20px;
  background-color: #fff;
}

.text-block__title {
  @include title-font();
  text-align: center;

  @media (min-width: $tablet) {
    @include title-font(21px);
  }
}

.text-block__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: $text-color-dark;

  &--large-line-height {
    line-height: 26px;
  }
}
