.text-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 250px;
  padding: 20px;
  background-color: #fff;

  &--index::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: $brand-color;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='320px' height='37px' viewBox='0 12.452 320 37' enable-background='new 0 12.452 320 37' xml:space='preserve'%3E %3Cpolygon fill='%23ffffff' points='320,12.452 0,12.452 0,34.175 160,49.452 320,34.175 '/%3E %3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }
}

.text-block__title {
  @include title-font();
  text-align: center;

  @media (min-width: $tablet) {
    @include title-font(21px);
  }
}

.text-block__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: $text-color-dark;

  &--large-line-height {
    line-height: 26px;
  }
}
