 .text-block {

  &__title {
    @include title-font();
    text-align: center;
  }

  &__text {
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #333;

    &--large-line-height {
      line-height: 26px;
    }
  }
}
